html, body {
  font-family: sans-serif;
}

header {
  background: red;
  width: 100%;
}

/*https://davidwalsh.name/remove-whitespace-inline-block*/
main {
  width: 100%;
  font-size: 0;

  /*setting a greater line-height in the container will allow for vertical-aligning with the children*/
  /*line-height: 180px;*/

  height: 300px;
  background: yellow;
}
main > * {
  display: inline-block;

  /*required if one column is taller than another*/
  vertical-align: top;

  font-size: 16px;

  /*if setting a greater line-height in the parent, need to reset it in the child*/
  /*line-height: 20px;*/
}
.content {
  width: 60%;
}
.sidebar {
  width: 40%;
}

footer {
  background: blue;
  width: 100%;
}

.placeholder {
  background: rgba(255,255,255,.7);
  padding: 20px;
  min-height: 40px;
  box-sizing: border-box;
}
